<app-nav-bar></app-nav-bar>
<div class="container">
  <h5>India's Live Status : {{currentDT | date:'fullDate'}} <span class="text-secondary"></span>
    <span class="spinner-grow text-danger text-small" role="status"></span>
  </h5>
  <hr />
  <div *ngIf='serverResponse==true; then showData else showError'></div>
  <hr />
</div>
<span *ngIf='serverResponse==true'>
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <app-chart-js></app-chart-js>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <app-state-wise [stateData]='stateData'></app-state-wise>
    </div>
  </div>
  <app-country-wise></app-country-wise>
</span>

<!-- Template if data exists -->
<ng-template #showData>
  <div class="card-deck text-white text-center text-uppercase">
    <div class="card bg-info">
      <div class="card-body">
        <p class="card-text">{{totalConfirm}}
          <br />
          <span class="text-small">[ + {{dailyConfirmed}} ]</span>
        </p>
      </div>
      <div class="card-footer">Confirmed</div>
    </div>
    <div class="card bg-danger">
      <div class="card-body">
        <p class="card-text">{{totalActive}}</p>
      </div>
      <div class="card-footer">Active</div>
    </div>
    <div class="card bg-success">
      <div class="card-body">
        <p class="card-text">{{totalRecovered}}
        <br />
        <span class="text-small">[ + {{dailyRecovered}} ]</span>
        </p>
      </div>
      <div class="card-footer">Recovered</div>
    </div>
    <div class="card bg-secondary">
      <div class="card-body">
        <p class="card-text">{{totalDeaths}}
          <br />
        <span class="text-small">[ + {{dailyDeaths}} ]</span>
        </p>
        <!-- <span class="text-small">[ + {{dailyDeaths}} ]</span> -->
      </div>
      <div class="card-footer">Deceased</div>
    </div>
  </div>
</ng-template>
<ng-template #showError>
  We are extremly sorry ! Some Problem occured at our end .
</ng-template>
<app-footer></app-footer>