<app-nav-bar></app-nav-bar>
<div class="container">
  <h5>Live Status : {{_currentDT | date:'fullDate'}} <span class="text-secondary">(last updated) </span>
    <span class="spinner-grow text-danger text-sm" role="status"></span>
  </h5>
  <hr />
  <div *ngIf="cases>0 then showData else noData">
  </div>
  <ng-template #showData>
    <h4>Total Cases : {{cases}}</h4>
    <div class="">
        <table class="table table bordered table responsive">
          <!-- <thead>
            <tr>
              <th *ngFor="let keyOfStateArray of stateWiseData.keys()">
                {{keyOfStateArray}}
              </th>
            </tr>
          </thead> -->
         <tbody>
          <tr *ngFor="let stateData of stateWiseData">
            <td>{{stateData?.state}}</td>
            <td>{{stateData?.cases}}</td>
          </tr>
         </tbody>
        </table>
    </div>
  </ng-template>
  <ng-template #noData><h4 class="text-warning">No Data Found</h4></ng-template>
  <app-state-district></app-state-district>
</div>