<table class="table table-striped table-responsive">
  <thead class="thead-dark">
    <th>State</th>
    <th>Confirmed</th>
    <th>Active</th>
    <th>Recovered</th>
    <th>Deceased</th>
  </thead>
  <tbody>
    <tr *ngFor="let sd of stateData">
      <td *ngIf="sd.confirmed>0">{{sd.state}}</td>
      <td *ngIf="sd.confirmed>0">{{sd.confirmed}}</td>
      <td *ngIf="sd.confirmed>0">{{sd.active}}</td>
      <td *ngIf="sd.confirmed>0">{{sd.recovered}}</td>
      <td *ngIf="sd.confirmed>0">{{sd.deaths}}</td>
    </tr>
  </tbody>
</table>